 #bgimage {
 	width:100%;
 	height:250px;
 	background-size: cover;
 	background-position: 0px -40px;
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/72/Jamison_Valley,_Blue_Mountains,_Australia_-_Nov_2008.jpg");
	box-shadow: 0px 0px 15px rgba(0,0,50,1);
}

html{
	font-family: 'Ruda', sans-serif;
}

section h1{
	font-size: 40px;
	margin: 0px auto;
}

.compass{
	display: inline-block;
	border: solid white 30px;
	margin-top: -80px;
	border-radius: 50%;
	width: 45%
}

.left{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.right{
	display: inline-block;
	width:55%;
	vertical-align: top;
}
li{
	font-size: 20px;
	display: inline-block;
	margin-right: 30px;
}
li:hover{
	color: green;
}


.left2{
	font-size: 12px;
	width: 30%;
	margin-left: 20px;
	vertical-align: top;
}


.right2{
	width: 50%;
	display: inline-block;
	float:right;
	vertical-align: top;
	padding-right: 80px;
}

.left h2 {
	margin-left:10px;
}

.left input{
	margin-left: 10px;
}



.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.container{
	border: 3px solid black;
	background-color: white;
	color: green;
	position:fixed;
	bottom:10px;
	right:10px;
	width:300px;
	margin: 0px;
	padding:0px;

}

img {
	max-width:100%;
}

.container #top{
	text-align: center;
}

.container #right{
	width:20%;
	
}

.container #middle{
	width:50%;
	
}
#right,#middle,#left{
	vertical-align: top;	
	display: inline-block;
	margin:0px;
}

.container #left {
	width:20%;
	
}

button{
	color: green;
}

.wrap{
	width: 1080px;
	margin: 0px auto;
}

p {
	font-size: 18px;
}

